.form__wrapper {
  display: flex;

  gap: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  padding: 20px;
  box-shadow: 1px 1px 10px 1px #000a;

  gap: 20px;
}
.form-container__card {
  display: flex;

  gap: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#input-name,
#input-date,
#select-countries {
  display: flex;
  align-items: center;
  width: 260px;
  height: 45px;
  padding-right: 10px;
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  border: 1px solid #030303;
}
#submit {
  align-self: center;
  width: 200px;
  height: 45px;
  border: 1px solid #030303;
}
#submit:hover {
  border: 2px solid #030303;
}
#input-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #030303;
}


.checkbox-green {
  position: relative;
  display: inline-block;
  height: 28px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 28px;
  vertical-align: middle;
  user-select: none;
}
.checkbox-green .checkbox-green-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 90px;
  height: 28px;
  background: #848484;
  border-radius: 2px;
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.checkbox-green .checkbox-green-switch:before {
  content: attr(data-label-on);
  position: absolute;
  top: 0;
  left: 45px;
  display: inline-block;
  box-sizing: border-box;
  width: 45px;
  padding: 0 12px;
  font-size: 10px;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.checkbox-green .checkbox-green-switch:after {
  content: attr(data-label-off);
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 5;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  font-size: 10px;
  line-height: 26px;
  text-align: center;
  color: #777777;
  text-transform: uppercase;
  background: white;
  border-radius: 1px;
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.checkbox-green input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch {
  background-color: #70c767;
}
.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:before {
  content: attr(data-label-off);
  left: 0;
}
.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:after {
  content: attr(data-label-on);
  color: #4fb743;
  transform: translate3d(44px, 0, 0);
}

/* Hover */
.checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover {
  cursor: pointer;
}
.checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

