.card-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
}
.active-card {
  display: flex;
}
.card-wrapper {
  position: relative;
  display: flex;
  width: 80%;
  height: 80%;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 20px 2px #000a;

  gap: 20px;
}
.card-modal__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;

  gap: 20px;
}
.card-modal__rating {
  display: flex;
  flex-direction: row;

  gap: 20px;
}
.button__close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px #000a;
}
.button__close:hover {
  background-color: aquamarine;
}
.card-modal__countries,
.card-modal__genres {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}
